footer {
  width: 100%;
  height: 80px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  position: relative;
}

#plaing_track {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#plaing_track>.track_icon {
  width: fit-content;
  height: 80%;
}

.track_icon>img {
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

#plaing_track>.track_data {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


#plaing_track>.track_data>p {
  width: max-content;
  cursor: pointer;
}

#plaing_track>.track_data>p:hover {
  text-decoration: underline;
}

#plaing_track>.track_data>p:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

#plaing_track>.track_data>p:nth-child(2) {
  font-size: 12px;
}


#player {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.control_btns {
  width: max-content;
  margin: 0 auto;
  display: flex;
}

.control {
  width: 16px;
  height: 16px;
  padding: 8px;
  margin: 0 16px;
}

.control:hover {
  scale: 1.05;
  transition: 0.2s;
}

.control>svg {
  width: 16px;
  height: 16px;
  fill: #b3b3b3;
}

.control:hover>svg {
  fill: #ededed;
}

.control:nth-child(3) {
  border-radius: 50%;
  background-color: #fff;
}

.control:nth-child(3)>svg {
  fill: #000
}


/* ------------------player timing------------------ */

footer .list_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer .list_data>:nth-child(2) {
  margin-top: 5px;
  font-size: 15px;
}

.track_timing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track_timing>span {
  font-size: 12px;
  margin: 0 5px;
}

.spotify-range {
  width: 100%;
  appearance: none;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* thumb */
.spotify-range::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  transition: 0.2s;
}

.spotify-range:hover::-webkit-slider-thumb {
  opacity: 1;
}

/* firefox */
.spotify-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background: white;
  opacity: 0;
}

.spotify-range:hover::-moz-range-thumb {
  opacity: 1;
}

#guide {
  height: max-content;
  padding: 3px 3px 0 3px;
  border-radius: 3px;
  background-color: #2a2a2a;
  font-size: 12px;
  position: absolute;
}

#track_time_current,
#track_timefull {
  width: 50px;
  text-align: center;
}

#track_time_current {
  text-align: right;
}

#track_timefull {
  text-align: left;
}


/* --------------------volume--------------------- */

#volume_panel {
  width: 30%;
}

#volume_wrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#volume_wrap>svg {
  scale: 1.05;
  transition: 0.2s;
}

#volume_wrap>svg {
  width: 24px;
  height: 24px;
  fill: #b3b3b3;
}

#volume_wrap>svg:hover {
  fill: #ededed;
}